
#logo span{
    display:inline-flex;
    margin-bottom: 10px;
}
#logo img{
    margin-top: 10px;
    margin-bottom: -5px;
    max-width: 80px;
    max-height: auto;
}

.center-text {
    text-align: center;
    margin: auto;
    color: aliceblue;
    font-weight: bold;
  }
  
.account{
    color: white;
    text-decoration: none;
}

.menuSuperior{
    padding-right: 90px;
}
