<app-nav-bar></app-nav-bar>

<div class="row mb-2 bg-secondary justify-content-center">
  <div class="col-md-8">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light "
      style="margin-top: 50px; width: 1000px; height: 550px"
    >
      <div
        class="col d-flex flex-column position-static"
      >
        <div class="d-flex justify-content-between">
          <div
          class="border p-1 bg-primary d-flex justify-content-center col-md-6 col-md-6 rounded border-3 border-dark text-center bg-light "
          style="margin-top: 0px" [routerLink]="['/dados']"
          >
            <h1 >Dados básicos</h1>
            

          </div>
          
          <div 
          
          class="border p-1 bg-primary d-flex justify-content-center col-md-6 col-md-6 rounded border-3 border-dark text-center"
          style="margin-top: 0px" [routerLink]="['/segurança']"
          >
            <h1 class="text-white">Segurança</h1>
          </div>
          
        </div>
        <div class="col-md-4" style="margin-left: 100px; margin-top: 20px; ">
          <h1>Dados da conta</h1>
          <ul class="list-group">
            <span class="fw-bold" style="font-size: 18px;">Email:</span>
    <!-- Adicione contenteditable para tornar o campo editável -->
    <li class="list-group-item" contenteditable="true" (blur)="salvarEdicaoCliente('email', $event)">{{ cliente?.email }}</li>
    <span class="fw-bold mt-4" style="font-size: 18px;">Telefone:</span>
    <li class="list-group-item" contenteditable="true" (blur)="salvarEdicaoCliente('numeroTelefone', $event)">{{ cliente?.numeroTelefone }}</li>
    <span class="fw-bold mt-4" style="font-size: 18px;">Nome de Usuario:</span>
    <li class="list-group-item" contenteditable="true" (blur)="salvarEdicaoCliente('nomeDeUsuario', $event)">{{ cliente?.nomeDeUsuario }}</li>
    <span class="fw-bold mt-4" style="font-size: 18px;">senha:</span>
    <li class="list-group-item" contenteditable="true" (blur)="salvarEdicaoCliente('senha', $event)">{{ cliente?.senha }}</li>
          </ul>
        </div>
      </div>
    </div>


    
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
