<app-nav-bar></app-nav-bar>

<div class="row mb-2 bg-secondary justify-content-center">
  <div class="col-md-8">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light"
      style="margin-top: 50px; width: 1000px; height: 450px"
    >
      <div
        class="col d-flex flex-column position-static"
      >
        <div class="d-flex justify-content-between">
          <div
            class="border p-1 bg-primary d-flex justify-content-between col-md-6 col-md-6 rounded"
          >
            <h1 class="text-white">Dados básicos</h1>
          </div>
          <div
            class="border p-1 bg-primary d-flex justify-content-between col-md-6 col-md-6 rounded"
          >
            <h1>Segurança</h1>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
