<app-nav-bar></app-nav-bar>
<div class="container">
<div class="titulo"><h1>Preencha os dados abaixo para concluir seu cadastro</h1><div>
<form [formGroup]="formClient" (ngSubmit)="onSubmit()" class="formulario">
  <div class="campo-form">
  <label for="nome">Nome:</label>
  <input type="text" formControlName="nome" placeholder="nome" [(ngModel)]="nomeInput" (input)="validarNome()" required/>
  <div *ngIf="nomeInput && !nomeValido" class="mensagem-invalido" class="text-sm">
    <p class="text-danger"  style="font-size: 10px">O nome deve ser maior do que 3 caracteres</p>
  </div> 
</div>

<div class="campo-form">
  <label for="nome">Nome de usuário:</label>
  <input
    type="text"
    formControlName="nomeDeUsuario"
    placeholder="nome de usuário" [(ngModel)]="nomeUserInput" (input)="validarNomeUsuario()"
    required
  />
  <div *ngIf="nomeUserInput && !nomeUserValido" class="mensagem-invalido" class="text-sm">
    <p class="text-danger"  style="font-size: 10px">O nome de usuário deve ser maior</p>
  </div> 
</div>
<div class="campo-form">
  <label for="cpf">CPF:</label>
  <input  formControlName="cpf" placeholder="CPF" [(ngModel)]="cpfInput" (input)="validarCPF()" maxlength="11" required/>
  <div *ngIf="cpfInput.length === 11 && !cpfValido" class="mensagem-invalido" class="text-sm">
    <p class="text-danger"  style="font-size: 10px">Este CPF não é valido</p>
  </div>
</div>
<div class="campo-form">
  <label for="nome">Data de Nascimento:</label>
  <input
    type="date"
    formControlName="dataNascimento"
    placeholder="Data de nascimento" required
  />
</div>
<div class="campo-form">
  <label for="nome">Número de Telefone:</label>
  <input
  [(ngModel)]="numeroInput" (input)="validarNumero()"
    type="text"
    formControlName="numeroTelefone"
    placeholder="Número de Telefone" maxlength="11" required
  />
  <div *ngIf="numeroInput && !numeroValido" class="mensagem-invalido" class="text-sm">
    <p class="text-danger"  style="font-size: 10px">O numero não é valido</p>
  </div> 
</div>
<div class="campo-form">
  <label for="nome">Gênero:</label>
  <select formControlName="genero" required>
    <option value="masculino">Masculino</option>
    <option value="feminino">Feminino</option>
    <option value="prefiroNaoInformar">Prefiro não informar</option>
  </select>
</div>
<div class="campo-form">
  <label for="nome">E-mail:</label>
  <input type="email" formControlName="email" placeholder="E-mail" required/>
  <div *ngIf="exibirErroEmail()" class="mensagem-invalido text-sm">
    <p class="text-danger" style="font-size: 10px">E-mail inválido</p>
  </div>
</div>
<div class="campo-form ">
  <label for="nome">Senha:</label>
  <input type="password" formControlName="senha" placeholder="Senha" [(ngModel)]="senhaInput" (input)="validarSenha()"required/>
  <div *ngIf="senhaInput && !senhaValido" class="mensagem-invalido" class="text-sm">
    <p class="text-danger"  style="font-size: 10px">A senha precisa ter ao menos 5 caracteres</p>
  </div> 
</div>
<div class="campo-form">
  <label for="nome">Ocupação:</label>
  <input type="text" formControlName="ocupacao" placeholder="ocupação" [(ngModel)]="ocupacaoInput" (input)="validarOcupacao()" required/>
  <div *ngIf="ocupacaoInput && !ocupacaoValido" class="mensagem-invalido" class="text-sm">
    <p class="text-danger"  style="font-size: 10px">A ocupação precisa ter mais de 3 caracteres</p>
  </div> 
</div>
<div class="campo-form">
  <label for="nome">Pessoa Politicamente Exposta::</label>
  <select formControlName="politicamenteExposta" required>
    <option value="Sim">Sim</option>
    <option value="Não">Não</option>
  </select>
</div>
  <button type="submit">Prosseguir</button>
</form>
  <div class="text-danger mt-3" *ngIf="mensagemErro">Por favor, preencha todos os campos para prosseguir </div>
