.titulo {
    text-align: center;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-count: 3;
  }
  
  .formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-count: 3;
    column-gap: 20px; /* ajuste o espaçamento entre as colunas conforme necessário */
    width: 100%;
  }
  
  .coluna {
    flex: 0 1 40%; 
  }
  
  .campo-form {
    margin-bottom: 15px;
    break-inside: avoid;
    margin-bottom: 15px;
  }
  
  .campo-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .campo-form input,
  .campo-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 47%;
    padding: 10px;
    margin: 0 auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    break-inside: avoid-column;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  