<div id="titulo" class="mx-3">
  <h1>Ofertas do dia</h1>
  <h6>Ver todas</h6>
</div>
<div class="row row-cols-1 row-cols-md-5 mb-3 mx-3 text-center"> 
  <div class="col">
    <div id="contorno" class="card mb-4 rounded-3 shadow-sm">
      <div class="card-body">
        <img src="../../assets/Imagens/Produtos/NotebookLenovo.png" />
        <div>
          <h6 class="my-0 fw-normal">
            Notebook Levono Ideapad intel i5 1135g7
          </h6>
          <h4>R$1999,90 à vista ou</h4>
          <h5 class="text-success">10X de R$209,90</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div id="contorno" class="card mb-4 rounded-3 shadow-sm">
      <div class="card-body">
        <img src="../../assets/Imagens/Produtos/AirFrayer.jpg" />
        <div>
          <h6 class="my-0 fw-normal">
            Fritadeira Eletrica frita sem óleo 4L 127V 1400W
          </h6>
          <h4>R$299,90 à vista ou</h4>
          <h5 class="text-success">10X de R$309,90</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div id="contorno" class="card mb-4 rounded-3 shadow-sm">
      <div class="card-body">
        <img src="../../assets/Imagens/Produtos/PowerBank.png" />
        <div>
          <h6 class="my-0 fw-normal">
            Carregador Portátil Redmi Power bank - 20.000mah 
          </h6>
          <h4>R$199,90 à vista ou</h4>
          <h5 class="text-success">10X de R$21,90</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div id="contorno" class="card mb-4 rounded-3 shadow-sm">
      <div class="card-body">
        <img src="../../assets/Imagens/Produtos/ComputadorGamer.jpg" />
        <div>
          <h6 class="my-0 fw-normal">
            Computador Gamer intel core i5, 8Gb de memoria ram, Gtx 1650...
          </h6>
          <h4>R$6999,90 à vista ou</h4>
          <h5 class="text-success">10X de R$709,90</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div id="contorno" class="card mb-4 rounded-3 shadow-sm">
      <div class="card-body">
        <img src="../../assets/Imagens/Produtos/TvOledLG.jpg" />
        <div>
          <h6 class="my-0 fw-normal">
            TV LG OLED 50" 4k ultraHD, HDR, IA THINK 
          </h6>
          <h4>R$2199,90 à vista ou</h4>
          <h5 class="text-success">10X de R$229,90</h5>
        </div>
      </div>
    </div>
  </div>
</div>
