 
<app-nav-bar></app-nav-bar>

<div class="row mb-2 bg-secondary justify-content-center">
  <div class="col-md-6">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light"
      style="margin-top: 50px"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          <div class="col-auto d-none d-lg-block">
            <img src="../../assets/Imagens/perfil.png" alt="" />
          </div>
          <div class="ml-3 d-flex flex-column align-items-center">
            <ng-container *ngIf="cliente">
              <a href="" class="mb-1">Nome: {{ cliente.nome }}</a>
              <a href="">Nome de usuário: {{ cliente.nomeDeUsuario }}</a>
            </ng-container>
          </div>
          
        </a>
      </div>
    </div>
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light"
      style="margin-top: 10px"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          <div class="col-auto d-none d-lg-block">
            <img src="../../assets/Imagens/info.png" alt="" />
          </div>
          <div class="ml-3 d-flex flex-column align-items-center">
            <ng-container *ngIf="cliente">
              <a href="" class="mb-1">Nome: {{ cliente.nome }}</a>
              <a href="">Nome de usuário: {{ cliente.nomeDeUsuario }}</a>
            </ng-container>
          </div>
        </a>
      </div>
    </div>
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light"
      style="margin-top: 10px"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          <div class="col-auto d-none d-lg-block">
            <img src="../../assets/Imagens/security.png" alt="" />
          </div>
          <div class="ml-3 d-flex flex-column align-items-center">
            <a href="" class="mb-1">Nome de usuário</a>
            <a href="">Nome de usuário</a>
          </div>
        </a>
      </div>
    </div>
    <br>
<br>
<br>
<br>
<br>
<br>
  </div>
  
</div>
