<app-nav-bar></app-nav-bar>
<div class="row mb-2 bg-secondary justify-content-center">
  <div class="row mb-2 bg-secondary justify-content-center">
    <div class="container bg-secondary">
      <div class="row">
        <div class="col-md-3">
          <img src="../../../assets/Imagens/seta.jpg" class="mt-5 ml-3" style="max-width: 10%; margin-left: 20px; height: auto;" [routerLink]="['/perfil']">
        </div>
      </div>
    </div>
  <div class="col-md-8">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm h-md-250 position-relative bg-light "
      style="margin-top: 50px; width: 1000px; height: 550px"
    >
      <div
        class="col d-flex flex-column position-static"
      >
        <div class="d-flex justify-content-between">
          <div
          class="border p-1 bg-primary d-flex justify-content-center col-md-6 col-md-6 rounded border-3 border-dark text-center"
          >
            <h1 class="text-white">Dados básicos</h1>
            

          </div>
          
          <div 
          class="border p-1 bg-primary d-flex justify-content-center col-md-6 col-md-6 rounded border-3 border-dark text-center bg-light "
          style="margin-top: 0px" [routerLink]="['/segurança']"
          >
            <h1 >Segurança</h1>
          </div>
          
        </div>
        <div class="col-md-4" style="margin-left: 100px; margin-top: 20px; ">
          <h1>Dados da conta</h1>
          <ul class="list-group">
            <span class="fw-bold" style="font-size: 18px;">Email:</span>
    <!-- Adicione contenteditable para tornar o campo editável -->
    <li class="list-group-item" *ngIf="editavel" contenteditable="true" (blur)="salvarEdicaoUsuario('email', $event)">{{ cliente?.email }}</li>
    <li class="list-group-item" *ngIf="!editavel">{{ cliente?.email }}</li>
    <span class="fw-bold mt-4" style="font-size: 18px;">Telefone:</span>
    <li class="list-group-item" *ngIf="editavel" contenteditable="true" (blur)="salvarEdicaoUsuario('numeroTelefone', $event)">{{ cliente?.numeroTelefone }}</li>
    <li class="list-group-item" *ngIf="!editavel">{{ cliente?.numeroTelefone }}</li>
    <span class="fw-bold mt-4" style="font-size: 18px;">Nome de Usuario:</span>
    <li class="list-group-item" *ngIf="editavel" contenteditable="true" (blur)="salvarEdicaoUsuario('nomeDeUsuario', $event)">{{ cliente?.nomeDeUsuario }}</li>
    <li class="list-group-item" *ngIf="!editavel">{{ cliente?.nomeDeUsuario }}</li>
          </ul>
        </div>
        <div class="btn-group mt-5" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary mx-2" (click)="alterarEditavel()">Alterar dados</button>
          <button type="button" class="btn btn-secondary mx-2" *ngIf="editavel" (click)="cancelarAlteracoes()">Cancelar Alterações</button>
          <button type="button" class="btn btn-success mx-2" *ngIf="editavel"(click)="enviandoAoBanco()">Salvar Alterações</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
